.downloadButton{ 

  display: inline-block;
  padding: 30px 40px;
  font-size: 16px;
  background-color: var(--SkittBlue);
  color: var(--SkittButtonWhite);
  cursor: pointer;
  border-radius: 4px;
  margin: 5px 5px 5px 5px;
  border: 3px;
  border-color: var(--SkittOutlineForButtonColor); 
  border-style: solid;
}

.downloadButton:hover{
    background-color: var(--SkittHoverBlue);
}

