.canvasBg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
/*   width: 100%; /* Make the canvas responsive */
/*   height: auto; Maintain aspect ratio */
}

.snow{
  
  position: fixed;
  
  left: -3px;
  bottom: 2px;
  
  width: 100%;
  height: 100px;
}